<div class="modal" [class.opened]="opened">
  <div class="window">
    <div class="header">
      <fa-icon class="icon" [icon]="headerIcon"></fa-icon>
      <span>{{title}}</span>
      <fa-icon class="close" [icon]="faTimes" (click)="close()"></fa-icon>
    </div>
    <div class="content">
      <div class="tabs">
        @for (tab of tabs; track tab.key) {
          <div class="tab" [class.active]="currentTab.key === tab.key" (click)="switchTab(tab)">
            <fa-icon [icon]="tab.icon"></fa-icon>
            <span>{{tab.label}}</span>
          </div>
        }
      </div>
      <div class="grid">
        <div class="col">
          <div class="inner">
            <div class="card">
              <div class="title">Select an audio</div>
              <div class="audio-cont">
                <div class="audios">
                  @for (audio of getAudios(); track audio._id) {
                    <div class="audio">
                      <app-audio-player [audio]="audio"></app-audio-player>
                    </div>
                  }
                </div>
                @if (getAudios().length === 0) {
                  <p class="no-data">No audio found.</p>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <span>OR</span>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <div class="title">Select a music from your computer</div>
            <div class="input">
              <input type="file" [accept]="AUDIO_EXTENSIONS.join(',')" (change)="fileSelected($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
