@import '../../styles/theme.scss';

main {
  position: fixed;
  left: 300px;
  top: 70px;
  width: calc(100% - 300px);
  height: calc(100% - (#{$worldbarSize}px + #{$headerSize}px));
  padding: 0;
  overflow: auto;

  .map-cont {
    width: 100%;
    height: 100%;
    padding: 40px;
  }
}
