<div class="modal" [class.opened]="opened">
    <div class="window">
      <div class="header">
        <fa-icon class="icon" [icon]="headerIcon"></fa-icon>
        <span>{{title}}</span>
        <fa-icon class="close" [icon]="faTimes" (click)="close()"></fa-icon>
      </div>
      <div class="content">
        <form [formGroup]="editionForm">
        @if (view === 'creation') {
          <div class="fields">
            <div class="field">
              <div class="label">Import tileset image</div>
              <div class="value">
                <input type="file" [accept]="IMAGE_EXTENSIONS.join(',')" (change)="fileSelected($event)">
              </div>
            </div>
          </div>
        } @else {
          <div class="fields">
            <div class="field">
              <div class="label">Title</div>
              <div class="value">
                <input type="text" [minlength]="2" [maxlength]="100" [formControlName]="'title'">
              </div>
            </div>
            <div class="field">
              <div class="label">Tile size</div>
              <div class="value">
                <input type="number"[min]="2" [max]="1000" [formControlName]="'tileSize'">
              </div>
            </div>
          </div>
          <p>Define the colliders by cicking on the tiles:</p>
          <div class="tileset" [style.height]="grid ? grid.height * grid.tileSize + 'px' : 'auto'">
            <img *ngIf="img" [src]="img.src">
            <div class="grid" *ngIf="grid && grid.layers.length > 0">
              @for (tile of grid.getTilesArray(); track tile) {
                <div class="tile" (click)="toggleCollider(tile)"
                  [style.left]="(tile.i * tile.size) + 'px'"
                  [style.top]="(tile.j * tile.size) +'px'"
                  [style.width]="tile.size + 'px'"
                  [style.height]="tile.size + 'px'"
                >
                <fa-icon *ngIf="tile.content && tile.content.collider" [icon]="faTimes"></fa-icon>
                </div>
              }
            </div>
          </div>
        }
        </form>
      </div>
      <div class="footer">
        <button type="button" class="btn save" [disabled]="editionForm.invalid" (click)="save()">
          <fa-icon [icon]="faFloppyDisk"></fa-icon>
          <span>Save</span>
        </button>
      </div>
    </div>
  </div>
