<header>
  <h1 [routerLink]="''">GWorld Creator</h1>

  <div class="title" *ngIf="view === 'browser'">
    <h2>{{title}}</h2>
  </div>

  <div class="menu">
    <div class="item" (click)="openMusicEdition()">
      <fa-icon [icon]="faMusic"></fa-icon>
    </div>
  </div>

  <div class="title" *ngIf="view === 'editor'">
    <input type="text" [(ngModel)]="mapTitle" (change)="updateMapTitle()"/>
  </div>

  <div class="controls">
    @if (view === 'editor') {
      <button class="btn"  *ngIf="!isPlaying() && !isDemo()" (click)="save()" >
        <fa-icon [icon]="faFloppyDisk"></fa-icon>
        <span>Save</span>
      </button>
      <button class="btn primary" *ngIf="!isPlaying()" (click)="play()">
        <fa-icon [icon]="faPlay"></fa-icon>
        <span>Play</span>
      </button>
    } @else if (view === 'game') {
      <button class="btn red" *ngIf="isPlaying()" (click)="stop()">
        <fa-icon [icon]="faCircleStop"></fa-icon>
        <span>Stop</span>
      </button>
    }

  </div>

</header>
